$color-blk: #000;
$color-purp: #59326f;
$color-drkBlueOutline: #001b40;
$color-borderLabelBlu: rgb(141, 175, 191);
$color-skyBlu: #86bdd6;
$color-midBlue: #3c6e84;
$color-blueShoe: rgb(86, 154, 183);
$color-brghtBlu: rgba(9, 170, 238, 0.8);
$color-activeBlu: rgba(36, 86, 116, 0.8);
$color-aboutBlu: #1d3a62;
$color-bluBlk: #021a25;
$color-bluNav: #3333337d;
$color-yellowMoonReColor: #fdf97d;
$color-tan: #f4e7d5;
$color-lghtGry: #e7e7e7;
$color-grey: #777;
$color-drkGry: #333;
$color-navGry: #848181;
$color-wht: #fff;
$color-hotPink: hotpink;
$color-playGrn: #28a745;
$color-stopRed: #dc3534;
$color-redBtns: #57131a;
// Glow
$color-glowBlu: #00e5ff;
// Background colors for linear backgrounds
$color-bgRed1: #dd4d4d;
$color-bgRed2: rgba(255, 124, 124, 0.2);
$color-bgYell1: rgba(200, 188, 9, 0.8);
$color-bgYell2: rgba(225, 222, 23, 0.3);
$color-bgBlu1: $color-midBlue;
$color-bgBlu2: rgba(86, 154, 183, 0.2);
$color-bgBlu3: rgba(33, 140, 204, 0.8);
$color-bgOrg: rgba(240, 74, 9, 0.768);
$color-bgGrn: rgba(14, 236, 173, 0.4);
// Popup
$color-slam: #02b1fb;
$color-flash: #ff4804;
$color-lime: #7fff65;
$color-pastelRed: #dd4d4d;
$color-violet: #8680ce;
$color-fadeBlack: rgba(2, 0, 0, 0.31);
$color-pink: pink;
// Footer
$color-footGry: #312e2e;
// Slam Lightning
$color-lghtOrg: #ff8400;
// Hamburger nav-links
$color-burgRed: rgb(187, 0, 0);
$color-burgBlu: rgb(119, 235, 255);
$color-burgBgGry: #262626;
// Label text contact form
$color-label-aqua: #75c2ce;

// Color palette - https://colorpalettes.colorion.co/?utm_source=toolkit.addy.codes
$color-palette-drkBlu: #050d21;
$color-palette-blu: #1a67f8;
$color-palette-purp: #b46cf8;
$color-palette-gryPaleBlu: #c9d5ee;
$color-palette-wht: #fffdfb;
