body {
  background-image: url("/img/landingPage/star.svg"), linear-gradient(to bottom, #05007A, #4D007D);
  // height: 100vh;
  // overflow: hidden;
  margin: 0 auto;
  background-attachment: fixed;
}

body#body-hero {
  height: 100vh;
  overflow: hidden;
}

body > section.hero {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Footer
main {
  margin-top: 5rem;
}

.mars {
  left: 0;
  right: 0;
  // bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("https://assets.codepen.io/1538474/mars.svg") no-repeat bottom center;
  background-size: cover;
}
  @media (min-width: 320px) {
    .mars {
      height: 50vmin;
      margin-top: 1rem;
    }
}

// Spaceships
.spaceship__container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  bottom: -95px;
  right: 1px;
}

.spaceship {
  position: absolute;
  bottom: 0;
  right: 0;
}

// Media Queries

// Galaxy Z fold 5 344 x 822, iphone 4,5 320px
@media only screen and (width >= 320px) {
  body#body-hero {
    height: 100VH;
    overflow: hidden;
  }
  .spaceship {
    width: 28vmin;
    bottom: 16vmin;
  }
}

// iphoneSE 375 x 667, iphoneX 375 x 812
@media only screen and (width >= 375px) {
  body#body-hero {
    height: 100vh;
    overflow: hidden;
  }
  .spaceship {
    bottom: 11vmin;
  }
}

// iphone12 390 x 844
@media only screen and (width >= 390px) {

}

// iphoneXR 414 x 896, Pixel7 412 x 915
@media only screen and (width >= 412px) {
  .spaceship {
    bottom: 9vmin;
  }
  .mars {
    margin-top: 5rem;
  }
}
  
// iphone14 pro max 430 x 932
@media only screen and (width >= 430px) {
  .spaceship {
    bottom: 8vmin;
  }
}

// surface DUO 540 x 720
@media only screen and (width >= 540px) {
  .spaceship {
    width: 14rem;
    bottom: 6vmin;
  }
}

// ipad Mini 768 x 1024
@media only screen and (width >= 768px) {
  .spaceship {
    width: 19rem;
  }
}

// ipad Air 820 x 1180
@media only screen and (width >= 820px) {
  .spaceship {
    width: 20rem;
  }
}

// ipad Pro 1024 x 1366
@media only screen and (width >= 1024px) {
  .mars {
    margin-top: 3rem;
  }
  .spaceship {
    bottom: -4vmin;
    width: 24rem;
  }
}


@media only screen and (width >= 600px) and (width < 768px) {}
 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (width >= 768px) and (width < 992px) {}
  

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (width >= 992px) {}
  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (width >= 1160px) {}
 