#displayNone {
  display: none;
}

.video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  // margin-top: 2rem;

  & video#video {
    height: 35rem;
    border: 4px solid $color-lghtGry;
  }

  & .cover-img {
    position: absolute;
    // left: 0;
    pointer-events: none;
    width: 79%;
    height: auto;
  }

  & .cover-img.hidden {
    display: none;
  }

  & .screen {
    cursor: pointer;
    width: 80%;
    background-color: $color-blk !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.controls {
  background-color: $color-drkGry;
  color: $color-wht;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 4px solid $color-lghtGry;
  border-top: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 64%;
  padding: 1rem;
  margin-bottom: 1rem;

  & #progress {
    width: 75%;
    margin: 0 1rem;
  }

  & .fa-play {
    color: $color-playGrn;
  }

  & .fa-stop {
    color: $color-stopRed;
  }

  & .fa-pause {
    color: $color-wht;
  }

  & .timestamp {
    color: $color-wht;
    font-weight: bold;
    margin-left: 10px;
  }
}

@media only screen and (width >= 820px) {
  .controls {
    margin-bottom: 2rem;
  }
}

@media only screen and (width >= 200px) and (width < 840px) {
  body {
    padding: 1rem;
  }
  .video-wrapper {
    width: 120%;
    margin-top: 1rem;

    & video#video {
      height: 44rem;
    }
    & #cover-img {
      min-width: 78%;
    }
  }

  .controls {
    width: 96%;
    margin-top: -1px;

    & .btn-video {
      font-size: 1rem;
    }

    & #progress {
      min-width: 13rem;
    }
  }
}

// Galaxy S9 320 x 658, Galaxy Z fold 5 344 x 822, iphone 4,5 320px
@media only screen and (width >= 320px) {
  .video-wrapper {
   
    video#video {
      height: 28rem;
    }
  }
}

// iphone12 390 x 844
@media only screen and (width >= 390px) {
  .video-wrapper {
    margin-top: 4rem;

    video#video {
      height: 40rem;
    }
  }
}

// iphoneXR 414 x 896, Pixel7 412 x 915
@media only screen and (width >= 412px) {
  .video-wrapper {
    margin-top: 4rem;

    video#video {
      height: 40rem;
    }
  }
}
